* {
  margin: 0;
  padding: 0;
  overflow: hidden;
}
/* @import "@material/icon-button/mdc-icon-button"; */
.App {
  text-align: center;
  height: 100vh;
}

.home {
  height: 100vh;
}
.home h1 {
  margin-bottom: 10px;
}
.home-list-container {
  height: 90vh;
  overflow: auto;
}
.home ul {
  margin: 15px 5px;
}
.navigation-bottom {
  position: absolute;
  bottom: 0;
  display: flex;
  flex-direction: row;
  background-color: #8d4ac7;
  height: 60px;
  justify-content: space-around;
}

.card-container {
  min-height: 120px;
  text-align: justify;
  display: flex;
  flex-direction: row;
  padding: 5px;
  margin: 0 auto;
  border-bottom: 1px solid #c6c8cd;
}
.partner-image {
  width: 35px;
  height: 35px;
}
.card-container-description h6 {
  padding-bottom: 5px;
  width: 55%;
}
.card-container-image {
  margin-left: 15px;
}
.partner-text {
  width: 160px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
